* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: hsl(217, 54%, 11%);
}

.container {
    max-width: 1440px;
    height: 100vh;
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.card {
    height: 540px;
    width: 300px;
    background-color: hsl(216, 50%, 16%);
    padding: 20px;
    border-radius: 10px;
    box-shadow: -1px 25px 33px 28px hsl(217, 54%, 11%);
}

.card-img {
    position: relative;
    width: 100%;
    height: 250px;
    background-image: url(./img/image-equilibrium.jpg);
    background-size: cover;
    background-position: center;
    cursor: pointer;
    border-radius: 10px;
}

.icon {
    width: 100%;
    height: 100%;
    background-color: hsla(178, 100%, 50%, 0.5);
    border-radius: 10px;
    opacity: 0;
}

.icon img {
    position: absolute;
    top: 40%;
    left: 40%;
}

.icon:hover {
    opacity: 1;
}

h1 {
    padding: 10px 0;
    color: hsl(0, 0%, 100%);
    font-size: 20px;
}


.main-text {
    color: hsl(215, 51%, 70%);
    padding-bottom: 10px;
}

p {
    font-size: 18px;
}


.ico-text {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.eth p {
    margin-left: 20px;
    color: hsl(178, 100%, 50%);
}

.eth img {
    float: left;
    padding-right: 5px;
    padding-top: 2px;
}

.time img {
    float: left;
    padding-right: 5px;
    padding-top: 4px;

}

.time p {
    margin-left: 25px;
    color: hsl(215, 51%, 70%);
}

hr {
    display: block;
    margin: 20px 0;
    border: 1px solid hsl(215, 32%, 27%);
    border-radius: 5px;
}

footer {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

footer img {
    width: 15%;
    border: 1px solid #fff;
    border-radius: 50%;
    overflow: hidden;

}

footer p {
    margin-left: 15px;
    color: hsl(215, 51%, 70%);

}

footer p span {
    color: hsl(0, 0%, 100%);
}

h1:hover,
footer p span:hover {
    color: hsl(178, 100%, 50%);
}